body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.site-layout .site-layout-background {
  padding: 24px;
  min-height: 280px;
  transition: margin-left 0.2s ease-out;
}

.site-layout .ant-menu-inline-collapsed .site-layout-background {
  margin-left: 80px;
}

.site-layout .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: transparent;
}

.app-logo {
  height: 32px;
  margin: 16px;
  text-align: center;
}

.inputs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}

.input-row {
  display: flex;
  flex-direction: column;
}

div#input-1-2,
div#input-2-2,
div#input-3-2 {
  max-width: 100px !important;
}
.input-row:not(:has(#input-1-2, #input-2-2, #input-3-2)) {
  width: 23%;
}

.ant-switch{
  width: 50px;
}